<form name="movies" method="POST" action="">
    <% if (items) { %>
    <% console.log(items) %>
    <% items.forEach(item=>{ %>
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= item.Title %></h5>
        <img class="card-img-top" src=<%= item.link.Poster %>>
        <div class="card-body">
        <p class="card-text"><%= item.Actors %></p>
        <p class="card-text"><%= item.Genre%></p>
        <p class="card-text"><%= item.Plot%></p>
        <p class="card-text">
         <div class="container">
          <div class="row">
            <div class="clo"><%= item.Released[0].Source%></div>
            <div class="clo"><%=  item.Released[0].Value%></div>
          </div>
          <div class="row">
            <div class="clo"><%= item.Released[1].Source%></div>
            <div class="clo"><%=  item.Released[1].Value%></div>
          </div>
          <div class="row">
            <div class="clo"><%= item.Released[2].Source%></div>
            <div class="clo"><%=  item.Released[2].Value%></div>
          </div>

      </div>
        </p>
      </div>
    </div>
    </div>
    <% }); %>
  <% } %>